@model BGSBuddyWeb.Models.SituationReportViewModel

@{
    ViewData["Title"] = Model.SituationReport.FactionName + " Situation Report";
}

<div class="text-center">
    <h1 class="display-4">@Model.SituationReport.FactionName Situation Report</h1>
</div>

<div id="offlimits-div">
    <h2>Off Limits List:</h2>
    <form asp-action="AddToOffLimits" asp-controller="Home" method="post">
        <label>System to add to off-limits list:</label>
        <input type="text" id="systemName" name="systemName" />
        <input type="submit" value="Add to off limits list" />
    </form>
    @foreach(var solarsystem in Model.SituationReport.OffLimits)
    {
        <span>@solarsystem</span>
    }
</div>

<div id="report-div">
    @if (Model.SituationReport.CriticalReports.Any())
    {
        <h2>Critical Reports:</h2>
        <div id="critical-div">
            @foreach (var report in Model.SituationReport.CriticalReports)
            {
                <div>@report.Location : @report.Situation : @report.Condition : @report.States </div>
            }
        </div>
    }
    @if (Model.SituationReport.WarningReports.Any())
    {
        <h2>Warning Reports:</h2>
        <div id="warning-div">
            @foreach (var report in Model.SituationReport.WarningReports)
            {
                <div>@report.Location : @report.Situation : @report.Condition : @report.States </div>
            }
        </div>
    }
    @if (Model.SituationReport.OpportunityReports.Any())
    {
        <h2>Opportunity Reports:</h2>
        <div id="opportunity-div">
            @foreach (var report in Model.SituationReport.OpportunityReports)
            {
                <div>@report.Location : @report.Situation : @report.Condition : @report.States </div>
            }
        </div>
    }
    @if (Model.SituationReport.ControlledReports.Any())
    {
        <h2>Controlled Systems:</h2>
        <div id="controlled-div">
            @foreach (var report in Model.SituationReport.ControlledReports)
            {
                <div>@report.Location : @report.Situation : @report.Condition : @report.States </div>
            }
        </div>
    }
    @if (Model.SituationReport.PartialReports.Any())
    {
        <h2>Partially Controlled Systems:</h2>
        <div id="partial-div">
            @foreach (var report in Model.SituationReport.PartialReports)
            {
                <div>@report.Location : @report.Situation : @report.Condition : @report.States </div>
            }
        </div>
    }
</div>
